#machine {
  width: 80vw;
  height: 50vh;
  display: grid;
  place-items: center center;
  color: black;
  background: -webkit-linear-gradient(left, rgb(231, 238, 245), rgb(180, 197, 215));
  background: -o-linear-gradient(left, rgb(231, 238, 245), rgb(180, 197, 215));
  background: linear-gradient(to right, rgb(231, 238, 245), rgb(180, 197, 215));
  background-size: 400%;
  padding: 2em;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
}
