#machine {
  width: 70vw;
  height: 50vh;
    background-color: #F3F5F6;
  background-size: 800%;
  padding: 2em;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
  box-shadow: 0 5px 400px -60px #545454;
  transition: 0.25s ease-in-out;
}

#machine:hover {
  transform: scale(1.01) perspective(3000px) translate3d(0px, -2px, 0px);
}

#drumpad {
  display: grid;
  place-items: center right;
  color: black;
}

#instruments {
  display: flex;
  flex-direction: row;
}

button {
  outline: none;  
}

.select-instruments {
  color: black;
  margin: 1em;
  opacity: 1;
  width: 5em;
  height: 100%;
  background-color: white;
  border-radius: 0.2em;
  box-shadow: 0px 4px 20px -10px #545454;
  border: none;
}

.select-instruments:focus {
    background-color: #f4baba;
}
